<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Trait_Editor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Trait_Editor.Settings>
            <setting name="HotfixDatabaseName" serializeAs="String">
                <value>hotfixes</value>
            </setting>
            <setting name="HotfixDatabaseHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="HotfixDatabasePort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="HotfixDatabaseUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="HotfixDatabasePassword" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB2ParentDir" serializeAs="String">
                <value>{FullTraitEditorPath}</value>
            </setting>
            <setting name="BuildNumber" serializeAs="String">
                <value>2147483647</value>
            </setting>
            <setting name="IconDir" serializeAs="String">
                <value>{FullTraitEditorPath}</value>
            </setting>
        </Trait_Editor.Settings>
    </userSettings>
</configuration>