<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Forged.Tools.HotfixPatchCompiler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HotfixPatchCompiler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Spell_Editor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Forged.Tools.HotfixPatchCompiler.Settings>
            <setting name="HotfixDatabaseName" serializeAs="String">
                <value>hotfixes</value>
            </setting>
            <setting name="HotfixDatabaseHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="HotfixDatabasePort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="HotfixDatabaseUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="HotfixDatabasePassword" serializeAs="String">
                <value>root</value>
            </setting>
        </Forged.Tools.HotfixPatchCompiler.Settings>
        <HotfixPatchCompiler.Settings>
            <setting name="HotfixDatabaseName" serializeAs="String">
                <value>hotfixes</value>
            </setting>
            <setting name="HotfixDatabaseHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="HotfixDatabasePort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="HotfixDatabaseUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="HotfixDatabasePassword" serializeAs="String">
                <value>root</value>
            </setting>
        </HotfixPatchCompiler.Settings>
        <Spell_Editor.Settings>
            <setting name="HotfixDatabaseName" serializeAs="String">
                <value>hotfixes</value>
            </setting>
            <setting name="HotfixDatabaseHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="HotfixDatabasePort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="HotfixDatabaseUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="HotfixDatabasePassword" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB2ParentDir" serializeAs="String">
                <value>{FullSpellEditorPath}</value>
            </setting>
            <setting name="IconDir" serializeAs="String">
                <value>{FullSpellEditorPath}Icons\</value>
            </setting>
            <setting name="IconPageLength" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BuildNumber" serializeAs="String">
                <!-- This must always be above 44730. If it is not the spell delete function may delete something it shouldnt. -->
                <value>2147483647</value>
            </setting>
        </Spell_Editor.Settings>
    </userSettings>
</configuration>